body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
    color: white;
    background-image: url("./assets/background\ img.png");
}

.main-nav-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    /* width: 100vw; */
    margin: 1em;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        li {
            list-style-type: none;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

    }

    .btn button{
        padding: 0.5em 1em;
        background-color: #003465;
        border: none;
        color: white;
        border-radius: 10px;
        transition: 0.4s;
    }

}

.btn button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.drop-this{
    transition: 0.3s;
}

.drop-this:hover .drop-list{
    display: flex;
    flex-direction: column;
    min-height: 120px;
    align-items: center;
    gap: 8px;
}

.drop-list{
    position: absolute;
    display: none;
    z-index: 1;
    max-width: 130px;
    width: 93.8px;
    border-radius: 11px;
    background-color: white;
    a{
        text-decoration: none;
        border-radius: 10px;
        color: black;
        background-color: whitesmoke;
        width: 70px;
        text-align: center;
        padding: 6px;
        margin: 3px;
        transition: 0.3s;
    }

}

.drop-list a:hover{
    background-color:#003465;
    color: white;
    transform: scale(1.1);
}

.form {
    border: 2.13px solid linear-gradient(to bottom, #5882C1, #5882C1);
    width: 380px;
    background-color: rgba(88, 130, 193, 0.28);
    padding: 20px;
    box-sizing: border-box;
    height: 450px;
    backdrop-filter: blur(10px);
    border-radius: 28.46px;
    padding: 0 5em
}

label {
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 6px;
}

.form h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-item?s: ; */

    input {
        border: none;
        background-color: white;
        padding: .5em 1em;
        font-size: 13px;
        border-radius: .4em;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        padding: 3px 0 3px 0;
    }

    h4 {
        font-size: 19px;
    }

    button {
        background-color: #003465;
        color: white;
        border: none;
        padding: .5em 1em;
        font-size: 13px;
        border-radius: .4em;
        cursor: pointer;
    }

}

.icons {
    display: flex;
    gap: 1em;
}

.icons button {
    padding: .1em 1.35em;
    border: none;
    border-radius: .5em;
}

p {
    font-size: 9.96px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 1em
}

.bottom p {
    font-size: 9.96px;
    letter-spacing: 0.25px;
}

.bottom a {
    text-decoration: none;
    color: white;
}